{{ if .Site.Params.about.enable | default false }}
<section id="about" class="py-0 py-sm-5">
    <div class="container bg-transparent">
        <h3 class="text-center bg-transparent">{{ .Site.Params.about.title }}</h3>
        <div class="bg-transparent row justify-content-center px-3 py-5">
            {{ if .Site.Params.about.image }}
            <div class="col-sm-12 col-md-8 col-lg-4 mb-5 mb-sm-0 mb-md-5 mb-lg-0 d-none d-sm-none d-md-block">
                <div class="image d-flex px-5">
                    <img src="{{ .Site.Params.about.image }}" class="img-thumbnail mx-auto rounded-circle" alt="">
                </div>
            </div>
            {{ end }}
            <div class="col-sm-12 col-md-12 col-lg-8 content">
                {{ .Site.Params.about.content | markdownify }}

                {{ if .Site.Params.about.skills.enable }}
                <strong>{{ .Site.Params.about.skills.title }}</strong>
                <div class="row">
                    {{ $skillsItems := .Site.Params.about.skills.items }}
                    {{ $totalSkills := len $skillsItems }}
                    {{ $itemsPerCol := div $totalSkills 3 }}
                    {{ if ne (mod $totalSkills 3) 0 }}
                        {{ $itemsPerCol = add $itemsPerCol 1 }}
                    {{ end }}
                    
                    <div class="col-sm-4">
                        <ul>
                            {{ range first $itemsPerCol $skillsItems }}
                            <li>{{ . | markdownify }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    
                    <div class="col-sm-4">
                        <ul>
                            {{ range first $itemsPerCol (after $itemsPerCol $skillsItems) }}
                            <li>{{ . | markdownify }}</li>
                            {{ end }}
                        </ul>
                    </div>
                    
                    <div class="col-sm-4">
                        <ul>
                            {{ range after (mul 2 $itemsPerCol) $skillsItems }}
                            <li>{{ . | markdownify }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}