{{ if .Site.Params.news.enable | default false }}
<section id="news" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.news.title | default "News" }}</h3>
 
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="news-list">
                    {{ range .Site.Params.news.items }}
                    <div class="news-item mb-4">
                        <h5 class="news-title">
                            {{ if .url }}
                            <a href="{{ .url }}" target="_blank">{{ .title }}</a>
                            {{ else }}
                            {{ .title }}
                            {{ end }}
                        </h5>
                        {{ if .content }}
                        <h6 class="news-meta">
                            {{ .content }}
                        </h6>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}