<div class="container-fluid section" id="news">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>{{ .Site.Params.news.title }}</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="news-list">
                    {{ range .Site.Params.newss.items }}
                    <div class="news-item mb-4">
                        <h5 class="news-title">
                            {{ if .url }}
                            <a href="{{ .url }}" target="_blank">{{ .title }}</a>
                            {{ else }}
                            {{ .title }}
                            {{ end }}
                        </h5>
                        {{ if .content }}
                        <h6 class="news-meta">
                            {{ .content }}
                        </h6>
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>